<!DOCTYPE html>
<html>
<head>
    <title>Complete Inventory View</title>
</head>
<body>
    <h1>Inventory Overview</h1>
    <a href="{{ url_for('manage_inventory') }}">Manage Inventory</a>
    <table>
        <!-- Table Headers -->
        <tr>
            <th>Inventory ID</th>
            <th>Dining Hall ID</th>
            <th>Food Item</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Expiration Time</th>
        </tr>
        <!-- Inventory Items -->
        {% for item in inventory %}
        <tr>
            <td>{{ item[0] }}</td>
            <td>{{ item[1] }}</td>
            <td>{{ item[2] }}</td>
            <td>{{ item[3] }}</td>
            <td>{{ item[4] }}</td>
            <td>{{ item[5] }}</td>
        </tr>
        {% endfor %}
    </table>
    <!-- Pagination Controls -->
    <div>
        <a href="{{ url_for('view_meals_worker', page=page-1) }}" {% if page <= 1 %} style="visibility: hidden;" {% endif %}>Previous</a>
        <a href="{{ url_for('view_meals_worker', page=page+1) }}">Next</a>
    </div>
</body>
</html>
